* {
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: #3D2028;
    /* border-radius: 10px; */
}

button {
    background-color: #3D2028;
    border-style: solid;
    border-width: 0px; 
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    color: #C1C1C1;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #705E63;
}

button:focus {
    background-color: #705E63;
}

#lock {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/lock.png"));
}

#logout {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/logout.png"));
}

#suspend {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/reshkk/.config/wlogout/icons/burgundy/reboot.png"));
}
