* {
    active-background: #797163;
    active-foreground: @foreground;
    normal-background: @background;
    normal-foreground: @foreground;
    urgent-background: #746957;
    urgent-foreground: @foreground;

    alternate-active-background: @background;
    alternate-active-foreground: @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    alternate-urgent-background: @background;
    alternate-urgent-foreground: @foreground;

    selected-active-background: #746957;
    selected-active-foreground: @foreground;
    selected-normal-background: #797163;
    selected-normal-foreground: @foreground;
    selected-urgent-background: #84765D;
    selected-urgent-foreground: @foreground;

    background-color: @background;
    background: #090909;
    foreground: #d2c7b4;
    border-color: @selected-active-background;
    spacing: 2;
}

