* {
    active-background: #314C51;
    active-foreground: @foreground;
    normal-background: @background;
    normal-foreground: @foreground;
    urgent-background: #295C4E;
    urgent-foreground: @foreground;

    alternate-active-background: @background;
    alternate-active-foreground: @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    alternate-urgent-background: @background;
    alternate-urgent-foreground: @foreground;

    selected-active-background: #295C4E;
    selected-active-foreground: @foreground;
    selected-normal-background: #314C51;
    selected-normal-foreground: @foreground;
    selected-urgent-background: #50635E;
    selected-urgent-foreground: @foreground;

    background-color: @background;
    background: #0B1118;
    foreground: #c6c9c7;
    border-color: @selected-active-background;
    spacing: 2;
}

