:root {
  --color-transparent-dark: rgba(0, 0, 0, 0.8);
  --color-shadow-dark: rgba(0, 0, 0, 0.75);
  --color-dark1: #1e1e2e;
  --color-dark2: #313244;
  --color-dark3: #11111b;
  --color-dark4: #45475a;
  --color-dark5: #585b70;
  --color-dark6: #7f849c;
  --color-dark7: #6c7086;
  --color-text1: #cdd6f4;
  --color-text2: #89b4fa;
  --color-text3: #f38ba8;
  --color-text4: #a6adc8;
  --color-text5: #74c7ec;
  --color-text6: #eba0ac;
  --color-text7: #f9e2af;
}

* {
  all: unset;
  font-size: 14px;
  font-family: "Ubuntu Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: var(--color-text1);
}

scale trough {
  margin: 0rem 1rem;
  background-color: var(--color-dark2);
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: var(--color-text2);
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 var(--color-transparent-dark), inset 0 0 0 1px var(--color-dark2);
  border-radius: 12.6px;
  margin: 18px;
  background-color: var(--color-dark1);
  color: var(--color-text1);
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 var(--color-text3);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: var(--color-text1);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: var(--color-text4);
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: var(--color-text1);
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: var(--color-text1);
  background-color: var(--color-dark2);
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-dark2);
  color: var(--color-text1);
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-text5);
  color: var(--color-text1);
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: var(--color-dark1);
  background-color: var(--color-text3);
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: var(--color-text6);
  color: var(--color-dark1);
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: var(--color-text3);
  color: var(--color-dark1);
}

.control-center {
  box-shadow: 0 0 8px 0 var(--color-transparent-dark), inset 0 0 0 1px var(--color-dark2);
  border-radius: 12.6px;
  margin: 18px;
  background-color: var(--color-dark1);
  color: var(--color-text1);
  padding: 14px;
}

.control-center .widget-title > label {
  color: var(--color-text1);
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: var(--color-text1);
  background-color: var(--color-dark2);
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-dark5);
  color: var(--color-text1);
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-text5);
  color: var(--color-dark1);
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: var(--color-text1);
  background-color: var(--color-dark2);
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 var(--color-text3);
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: var(--color-text1);
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: var(--color-text4);
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: var(--color-text1);
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: var(--color-text1);
  background-color: var(--color-dark3);
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-dark2);
  color: var(--color-text1);
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-text5);
  color: var(--color-text1);
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: var(--color-dark1);
  background-color: var(--color-text6);
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: var(--color-text3);
  color: var(--color-dark1);
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: var(--color-text3);
  color: var(--color-dark1);
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-dark6);
  color: var(--color-text1);
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px var(--color-dark4);
  background-color: var(--color-text5);
  color: var(--color-text1);
}

.notification.critical progress {
  background-color: var(--color-text3);
}

.notification.low progress,
.notification.normal progress {
  background-color: var(--color-text2);
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: var(--color-dark2);
  border: 1px solid var(--color-dark4);
  box-shadow: none;
}

.control-center-dnd:checked {
  background: var(--color-dark2);
}

.control-center-dnd slider {
  background: var(--color-dark4);
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: var(--color-dark2);
  border: 1px solid var(--color-dark4);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: var(--color-dark2);
}

.widget-dnd > switch slider {
  background: var(--color-dark4);
  border-radius: 8px;
  border: 1px solid var(--color-dark7);
}

.widget-mpris {
  margin: 15px 5px 0; 
}

.mpris-background {
  filter: blur(10px);
}

.widget-mpris-player {
  background: var(--color-dark2);
  padding: 7px;
  border-radius: 8px;
  margin: 0px 10px;
}

.widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px var(--color-shadow-dark);
}

/* .widget-mpris-player {margin: 0px 5px; } */

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
  padding: 10px;
}

.control-center .widget-label > label {
  color: var(--color-text1);
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: var(--color-text5);
}

.widget-volume trough highlight {
  background: var(--color-text5);
}

.widget-volume trough, .widget-volume highlight, .widget-backlight trough, .widget-backlight highlight  { 
  border-radius: 8px;
}

.widget-backlight trough highlight{
  background: var(--color-text7);
}

.widget-backlight label {
  font-size: 1.5rem;
  color: var(--color-text7);
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
