@import 'colors.css';
@define-color color-transparent rgba(0, 0, 0, 0);
@define-color background-buttons #1e1e2e;


* {
  min-height: 0;
  min-width: 0;
  font-family: "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: @color-transparent; 
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces button {
  all: initial;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  transition: all 0.3s linear;
  background-color: @background-buttons;
  color: @foreground;
}

#workspaces button:hover {
  color: @color0;
  background-color: @color2;
}

#workspaces button.active {
  background-color: @color10;
  color: @color8;
}

#workspaces button.urgent {
  background-color: @color3;
  color: @foreground;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-notification,
#cpu, #disk, #memory, #temperature,
#custom-system,
#tray,
#window,
#network,
#language {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @background-buttons;
}

#custom-sep {
  padding: 0px;
  color: @foreground;
}

window#waybar.empty #window {
  background-color: @color-transparent;
}

#cpu {
  color: @color4;
}

#memory {
  color: @color9;
}

#clock, #network, #disk {
  color: @color6;
}

#clock.simpleclock, #temperature {
  color: @color12;
}

#window, #language {
  color: @color7;
}

#pulseaudio {
  color: @color7;
}

#pulseaudio.muted {
  color: @color7;
}

#custom-logo {
  color: @color15;
}

#custom-power {
  color: @color12;
}

#custom-power {margin-right: 10px;} 
#clock {margin-left: 7px;}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  background-color: @color10;
  border: 2px solid @color15;
}
