@define-color main-color #B4B4B4;
@define-color main-bg rgba(30,30, 46, 0);
@define-color active-bg rgba(20,20, 36, 0.4);

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background: @main-bg;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: @main-color;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @main-color;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @main-color;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor1;
    border-radius: 15px;
    opacity:0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 0;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {color: @main-color;}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @main-bg;
    margin: 8px 15px 8px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@main-color;
    font-size:16px;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @main-bg;
    margin: 6px 10px 6px 0px;
    padding:0 5px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 0px solid @main-bg;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right {
    background: @main-bg;
    margin: 6px 15px 5px 0px;
    padding-left: 8px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 0px solid @main-bg;
	
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */
 
#custom-browser, 
#custom-keybindings, 
#custom-windowsvm,  
#custom-wallpaper, 
#custom-settings, 
#custom-wallpaper, 
#custom-system,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @main-color;
}
 
#custom-filemanager {
    background: @main-bg;
    border-radius: 15px;
    margin: 7px 8px 7px 0px;
    padding: 10px;
    color: @main-color;
} 

#custom-swaync {color: @main-color; font-size: 16px}
/*
#custom-system {margin-right:15px;}

#custom-wallpaper {margin-right:25px;}

#custom-waybarthemes, #custom-settings {margin-right:20px;}


#custom-ml4w-welcome {
    margin-right: 15px;
    background-image: url("../assets/ml4w-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 24px;
}
*/
/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */


/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    background: @main-bg;
    border-radius: 15px;
    margin: 7px 10px;
    padding: 0 10px;
    font-size:30px;
    color: @main-color;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#temperature {
    margin:0px;
    padding:0px;
    font-size:16px;
    color: @main-color;
}

#temperature, #language{margin-right:10px; color: @main-color;}

/* -----------------------------------------------------
 * Calculator
 * ----------------------------------------------------- */

#custom-calculator{ 
   font-size: 18px;
   color: @main-color;
   margin-right: 10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @main-color;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 6px 15px 6px 0px;
    opacity:0.8;
    border: 0px solid @bordercolor;   
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    font-size: 16px;
    color: @main-color;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#pulseaudio.muted {color: @main-color;}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    font-size: 16px;
    color: @main-color;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    opacity:0.8;
}

#network.ethernet {color: @main-color;}


@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @main-color;
    }
}


/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0px 15px 0px 0px;
    color: @main-color;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

